<a routerLink="/" style="margin-right: 10px; ">Home</a>
<a routerLink="about" style="margin-right: 10px; ">About</a>
<a routerLink="contact" style="margin-right: 10px; ">Contact</a>

<router-outlet></router-outlet>

<!-- <p>Ciao bevenuti al {{title | uppercase}}</p>

<p>Oggi è: {{oggi | date}}</p> -->

<!-- <h2>Scegli il colore che preferisci:</h2>
<div>
  <input type="radio" name="coloreEvidenziotore" (click)="cambiaColoreEvidenziatore('red')">Rosso
  <input type="radio" name="coloreEvidenziotore" (click)="cambiaColoreEvidenziatore('pink')">Rosa
  <input type="radio" name="coloreEvidenziotore" (click)="cambiaColoreEvidenziatore('purple')">Viola
</div>

<p [appHighlight]="colore" defaultColor="green">Ciao sono un paragrafo</p> -->


<!-- <input #inputSaluti value="ciao">

<button (click)="onClick()"></button> -->



<!-- <app-prova [data]="persone"></app-prova> -->

<!-- <app-prova (mandaDatiEvento)="riceviDatiEvento($event)"></app-prova>

<button (click)="onClick()">Cambia</button> -->

<!-- <mat-form-field class="example-full-width">
  <mat-label>Username</mat-label>
  <input matInput (input)="onInput($event)" />
</mat-form-field>

<button mat-raised-button (click)="onClick($event)">Gioca</button> -->

<!-- <p *ngIf="isVisible; then bloccoIf else bloccoElse"></p>
<ng-template #bloccoIf><p>Sono visibile</p></ng-template>
<ng-template #bloccoElse><p>Non sono visibile</p></ng-template> -->

<!-- <p *ngIf="isVisible">Ciao sono un paragrafo!</p> -->

<!-- <ul> -->
  <!-- <li *ngFor="let persona of persone, index as i"> -->
    <!-- <div class="cerchio" [ngStyle]="{'background': persona.isOneline ? 'green' : 'red'}"></div> -->
     <!-- <div class="cerchio" [ngClass]="{'cerchioOnline': persona.isOneline, 'cerchioOffline': !persona.isOneline}">i</div> -->
      <!-- <div class="cerchio" [ngClass]="persona.isOneline ? 'cerchioOnline' : 'cerchioOffline' ">i</div> -->
    <!-- <p> {{persona.nome}} - {{persona.cognome}}</p> -->
  <!-- </li> -->
<!-- </ul> -->